[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=meldCompareEachOther;meldSaveForCompare;meldCompareTo;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Meld Compare
X-KDE-submenu[ru]=Meld Compare

[Desktop Action meldSaveForCompare]
Icon=bookmark-new
Name=Select for compare
Name[ru]=Выберите для сравнения
Exec=echo "%U" > /tmp/meld_file.tmp

[Desktop Action meldCompareTo]
Icon=dialog-ok-apply
Name=Compare to select
Name[ru]=Сравнить с выбранным
Exec=meld `cat /tmp/meld_file.tmp` "%U"; rm /tmp/meld_file.tmp;

[Desktop Action meldCompareEachOther]
Icon=document-preview
Name=Compare each other
Name[ru]=Открыть для сравнения
Exec=meld %U; rm /tmp/meld_file.tmp;
